html, body, #root {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #F5F5F5;
}

canvas {
    height: var(--100vh, 100vh);
    max-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }